<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Teams</title>
</head>
<body>
  <h1>Teams</h1>

    <ul>
      <% teams.forEach((team)=>{
          %>
            <li>
              <a href=<%= team.id %>>
                <%= team.name %></a> 
                (<%= team.wins %>-<%= team.loss %>)
              </li>
          <%
      }) %>
    </ul>

    <button id="button" type="button" onclick="toggleForm()">Add new team</button>

    <div>
      <form id="form" action="/api/teams" method="POST" hidden>
        <fieldset>
          <h3>Create New Team</h3>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Team Name"
            required
          />
          <br /><br />
          <input
            type="text"
            id="conference"
            name="conference"
            placeholder="Conference"
            required
          />
          <br /><br />
          <input
            type="text"
            id="captain"
            name="captain"
            placeholder="Name of first player"
            required
          />
          <br /><br />
          <input
            type="text"
            id="partner"
            name="partner"
            placeholder="Name of second player"
            required
          />
          <br /><br />
          <input
            type="text"
            id="city"
            name="city"
            placeholder="City of residence"
            required
          />
          <br /><br />
          <input
            type="text"
            id="state"
            name="state"
            placeholder="State of residence"
            required
          />
          <br /><br />
          <button type="reset">Reset</button>
          <button type="submit">Submit</button>
        </fieldset>
      </form>
    </div>

    <script>
      const form = document.getElementById('form')
      const button = document.getElementById('button')
      
      function toggleForm() {
        form.toggleAttribute("hidden");
        const verb = form.hidden ? "Add" : "Cancel"
        button.innerText = `${verb} new team`
      }
    </script>

</body>
</html>