<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Conferences</title>
  </head>
  <body>
    <h1>Conference Info</h1>
    <% conferences.forEach((conf)=>{ %>
      <h2><%= conf.name %></h2>
      <p><%= conf.description %></p>
    <% }) %>
    <form action="/api/conferences" method="POST">
      <fieldset>
        <h3>Create New Conference</h3>
        <input type='text' id ='name' name='name' placeholder="Name" required>
        <br><br>
        <input type='text' id ='description' name='description' placeholder="Description"  required>
        <br><br>
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
      </fieldset>
    </form>
  </body>
</html>
